<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
          rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
          crossorigin="anonymous">
          
          <style>
		.carousel-inner img {
		  height: 250px; /* Adjust size */
		  object-fit: cover;
		}
		</style>
		
		<style>
		
		.footer
		{
		position: fixed;
		left:0;
		bottom:0;
		width:0;
		color:blue;
		text-align:centre;
		}
		
		</style>
		
  </head>
  
  <body>
  
  <div class ="container" >
  
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
    
    <img alt="" src="images/image.png"/>
     
    </a>
    <button class="navbar-toggler" type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
            
      <span class="navbar-toggler-icon"></span>
      
    </button>
    
    <div class="collapse navbar-collapse" 
          id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">Courses</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        </ul>
        <a href="login" class="btn btn-danger">Login</a>
        
       </div>
  </div>
</nav>
       

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1500">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/banner4.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="1500">
      <img src="images/banner5.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="1500">
      <img src="images/banner3.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
  
</div>
<br/>
<br/>
  <h2 class="text-center">Trending Courses</h2>
  
  <div class="row">
  
  			<div class="col-md-4">
  			
  					<img alt="" src="images/course1.png" width="200px">
  			
  			</div>
  			
  			<div class="col-md-4">
  			
  					<img alt="" src="images/course2.png" width="200px">
  			
  			</div>
  			
  			<div class="col-md-4">
  			
  					<img alt="" src="images/course4.png" width="200px">
  			
  			</div>
  
  </div>
  
  
  </div>
  
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
            crossorigin="anonymous"></script>
  </body>
  
  <div class="footer">
  
  <p> &copy; 2025 Vaibhav.All rights reserved. </p>
  
  </div>
</html>